@import "~antd/lib/style/themes/default.less";

.standardTable {
  :global {
    .ant-table-pagination {
      margin-top: 24px;
    }
  }

  .tableAlert {
    margin-bottom: 16px;
  }

  .tableView {
    th { white-space: nowrap; }
  }

  .colUpdatedAt {
    min-width: 105px;
  }
}
